@using PortailIEPSM.Areas.Groupe_6.Models;
@model dynamic
@{
    ViewData["Title"] = "Gestion - Groupe 6";

}

<div class="text-center">
    <h1 class="display-4">Groupe n°6 : Joshua, Alex, Jonathan</h1>
</div>

<div style="margin:20px">
    <form action="" method="post">
        <table>
            @foreach (var dataBDD in Model.ContactMod)
            {
                <tbody>
                    <tr>
                        <td>
                            <label>ID</label>
                        </td>
                        <td>
                            <input type="text" name="idContact" value="@dataBDD.IdContact" disabled /><br />
                        </td>

                    <tr>
                        <td>
                            <label>Nom</label>
                        </td>
                        <td>
                            <input type="text" name="idContact" value="@dataBDD.Nom" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Prénom</label>
                        </td>
                        <td>
                            <input type="text" name="idContact" value="@dataBDD.Prenom" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>GSM</label>
                        </td>
                        <td>
                            <input type="text" name="idContact" value="@dataBDD.GSM" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Téléphone</label>
                        </td>
                        <td>
                            <input type="text" name="idContact" value="@dataBDD.Telephone" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Mail</label>
                        </td>
                        <td>
                            <input type="text" name="idContact" value="@dataBDD.Mail" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Genre</label>
                        </td>
                        <td>
                            <input type="text" name="idContact" value="@dataBDD.Genre" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Nationalité</label>
                        </td>
                        <td>
                            <input type="text" name="idContact" value="@dataBDD.Nationalite" />
                        </td>
                    </tr>
                    <tr>
                        <td><br />
                            <input type="submit" value="Enregistrer"/>
                        </td>
                    </tr>
                </tbody>
            }
        </table>
    </form>
</div>